/** Some basic stuff, like setting up color classes etc. **/

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

:root {
  /* Polar Night */
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  /* Snow Storm */
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  /* Frost */
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  /* Aurora */
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
}

html,
body {
  height: 100%;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--nord0);
}

.nord0 {
  background-color: var(--nord0);
}

.nord1 {
  background-color: var(--nord1);
}

.nord2 {
  background-color: var(--nord2);
}

.nord3 {
  background-color: var(--nord3);
}

.nord4 {
  background-color: var(--nord4);
}

.nord5 {
  background-color: var(--nord5);
}

.nord6 {
  background-color: var(--nord6);
}

.nord7 {
  background-color: var(--nord7);
}

.nord8 {
  background-color: var(--nord8);
}

.nord9 {
  background-color: var(--nord9);
}

.nord10 {
  background-color: var(--nord10);
}

.nord11 {
  background-color: var(--nord11);
}

.nord12 {
  background-color: var(--nord12);
}

.nord13 {
  background-color: var(--nord13);
}

.nord14 {
  background-color: var(--nord14);
}

.nord15 {
  background-color: var(--nord15);
}

.text-nord0 {
  color: var(--nord0);
}

.text-nord1 {
  color: var(--nord1);
}

.text-nord2 {
  color: var(--nord2);
}

.text-nord3 {
  color: var(--nord3);
}

.text-nord4 {
  color: var(--nord4);
}

.text-nord5 {
  color: var(--nord5);
}

.text-nord6 {
  color: var(--nord6);
}

.text-nord7 {
  color: var(--nord7);
}

.text-nord8 {
  color: var(--nord8);
}

.text-nord9 {
  color: var(--nord9);
}

.text-nord10 {
  color: var(--nord10);
}

.text-nord11 {
  color: var(--nord11);
}

.text-nord12 {
  color: var(--nord12);
}

.text-nord13 {
  color: var(--nord13);
}

.text-nord14 {
  color: var(--nord14);
}

.text-nord15 {
  color: var(--nord15);
}

ul {
  list-style: none;
}

ul li {
  display: inline;
}

/** Override the ugly Bootstrap focused input effect **/ 
.form-control:focus {
  border-color: var(--nord0);
  box-shadow: 0 0 0 0.2rem rgba(136, 192, 208, 0.15);
} 

/** Override Google styling we weren't allowed to set in their console **/
.gsc-results-wrapper-nooverlay,
.gsc-results-wrapper-visible {
  font-family: 'Source Sans Pro', sans-serif !important;
}

.gsc-tabsArea{
  border-bottom: 1px solid var(--nord12) !important;
  padding-bottom: 2px;
}

.gsc-above-wrapper-area{
    border-bottom: 1px solid var(--nord12) !important;
}

.gsc-option-menu-container .gsc-inline-block,
.gsc-option-menu,
.gsc-option-menu .gsc-option-menu-item {
    background-color: var(--nord10) !important;
    color: var(--nord5) !important;
    text-align: center;
}

/** Set specifics **/
input {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: 300;
}

#date {
  font-weight: 600;
}

#time {
  font-weight: 400;
}